<div class="card mt-2">
  <div class="card-header">
    <div class="row">
      <div class="col">
        Addresses
      </div>
      <div class="col text-end">
        <a routerLink="/address/create" class="btn btn-sm btn-info">Create</a>
      </div>
    </div>
  </div>
  <div class="card-body">
      <table class="table table-bordered">
          <thead>
              <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">Address</th>
                <th scope="col" class="text-center">Label</th>
                <th scope="col" class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let address of addresses; let i = index;">
                <th class="text-center">{{i}}</th>
                <td class="text-center">{{ address.ip }}</td>
                <td class="text-center">{{ address.label }}</td>
                <td class="text-center">
                  <a routerLink="/address/edit/{{address.id}}" class="btn btn-sm btn-warning" title="Edit">
                    <fa-icon [icon]="faPencilRuler"></fa-icon>
                  </a>
                </td>
              </tr>
            </tbody>
      </table>
  </div>
</div>

