<div class="mt-4 col-8 offset-2">
    <div class="card">
        <div class="card-header">Create Your Account</div>
        <div class="card-body">
            <form #registrationForm=ngForm (ngSubmit)="onSubmit()">
                <div class="row mb-3">
                    <label for="name" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" name="name" class="form-control" id="name" [(ngModel)]="form.name"
                            required>
                        <p class="text-danger" [hidden]="errors.name">{{ errors.name }}</p>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="email" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" name="email" class="form-control" id="email" [(ngModel)]="form.email"
                            required>
                        <p class="text-danger" [hidden]="errors.email">{{ errors.email }}</p>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="password" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" name="password" class="form-control" id="password"
                            [(ngModel)]="form.password" required>
                        <p class="text-danger" [hidden]="errors.password">{{ errors.password }}</p>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="password_confirmation" class="col-sm-2 col-form-label">Confirm Password</label>
                    <div class="col-sm-10">
                        <input type="password" name="password_confirmation" class="form-control" id="password_confirmation"
                            [(ngModel)]="form.password_confirmation" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-primary m-2" [disabled]="!registrationForm.valid">Submit</button>
                        <a class="btn btn-info" routerLink="/login" title="Do you have an account? Click to Sign In">Sign In</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
